.search-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}
.search-bar input {
  width: 300px;
}

.search-bar form {
  display: flex;
  flex-direction: column;
}
